[Desktop Entry]
Name=PBS Kids
Comment=Educational games and videos
Exec=chromium --app=https://pbskids.org/ --ozone-platform-hint=auto --class=pbskids-app
Icon=applications-games
Terminal=false
Type=Application
Categories=Education;Game;
