[Desktop Entry]
Name=PBS Kids
Comment=Educational games and videos
Exec=lighthouse-webapp pbskids
Icon=applications-games
Terminal=false
Type=Application
Categories=Education;Game;
StartupWMClass=org.lighthouse.webapp.pbskids
X-Lighthouse-Url=https://pbskids.org/
X-Lighthouse-Allow=pbskids.org;pbs.org;
