[Desktop Entry]
Name=Scratch
Comment=Block-based programming for kids
Exec=chromium-browser --no-first-run --app=https://scratch.mit.edu/projects/editor/
Icon=applications-development
Terminal=false
Type=Application
Categories=Education;Development;
